body {
  font-family: 'Noto Sans';
	font-size: 14pt;
  color: #eee;
  background-color: #222;
  outline: none;
}

.node {
  outline: none;
  display: block;
}

#rules, #program, #log {
  display: inline-block;
  padding: 3px;
  margin: 0 auto;
  outline: none;
}

#rules {
  width: 50%;
  font-family: "Roboto Mono", monospace;
  font-size: 10pt;
  background-color: transparent;
  outline: none;
}

.rule {
  display: inline-block;
  border: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 7px;
  margin: 4px;
  padding: 1px;
  outline: none;
}

.query, .assert, .sep {
  border: none;
  border-radius: 7px;
  padding: 1px;
  margin: 0px;
  color: #eee;
  outline: none;
}

.sep {
  color: #d38;
  outline: none;
}

.var, .literal, .label {
  border-radius: 7px;
  display: inline-block;
  margin: 3px;
  white-space: pre;
  outline: none;
}

.label {
  color: #27f;
  outline: none;
}

/* TODO */
svg {
  width: 600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  background-color: #eB6;
}

.editor {
  border: solid;
  border-width: 1px;
  border-color: #e6a;
  border-radius: 8px;
  color: #666;
}

/*

.box {
  padding: 2px;
}
.box > .box:hover {
  background-color: #666;
}

.td {
  min-width:22px;
  min-height:22px;
}

*/
