/* TODO remove css dependence */
body {
  font-family: 'Noto Sans';
	font-size: 14pt;
  color: #eee;
  background-color: #222;
  outline: none;
}

.CodeMirror {
  font-family: "Roboto Mono", monospace;
	font-size: 14pt;
  color: #eee;
  background-color: #333;
  outline: none;
  height: auto;
  margin: 10px;
}

.CodeMirror-cursor {
  color: #f00;
  background-color: #777;
  width: 10px;
}

.gutter {
  width: 15px;
  background-color: #444;
}

.node {
  outline: none;
  display: block;
}

#rules, #program, #log {
  display: inline-block;
  padding: 3px;
  margin: 0 auto;
  outline: none;
}

#rules, #log {
  width: 45%;
  font-family: "Roboto Mono", monospace;
  font-size: 12pt;
  background-color: transparent;
  outline: none;
  overflow: auto;
  height: 600px;
}

::-webkit-scrollbar {
    background: #222;
}
::-webkit-scrollbar-thumb {
    background: #666;
}


.rule {
  display: inline-block;
  border: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 7px;
  margin: 4px;
  padding: 1px;
  outline: none;
}

.query, .assert, .sep {
  border: none;
  border-radius: 7px;
  padding: 1px;
  margin: 0px;
  color: #eee;
  outline: none;
}

.sep {
  color: #d38;
  outline: none;
}

.var, .literal, .label, .expr {
  border-radius: 7px;
  display: inline-block;
  margin: 3px;
  white-space: pre;
  outline: none;
}

.label {
  color: #aaa;
  outline: none;
}

.expr {
  border: solid;
  border-width: 1px;
  border-color: #999;
}

/* TODO */
svg {
  width: 600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  background-color: #eB6;
}

.editor {
  border: solid;
  border-width: 1px;
  border-color: #e6a;
  border-radius: 8px;
  color: #666;
}

/*

.box {
  padding: 2px;
}
.box > .box:hover {
  background-color: #666;
}

.td {
  min-width:22px;
  min-height:22px;
}

*/
