/* TODO remove css dependence */
html {
  width:99%;
  height:99%;
}

body {
  font-family: 'Noto Sans';
	font-size: 14pt;
  color: #eee;
  background-color: #222;
  outline: none;

  user-select: none;
  width:99%;
  height:99%;
}

.div {
  outline: none;
}

.CodeMirror {
  font-family: "Roboto Mono", monospace;
	font-size: 11pt;
  color: #eee;
  background-color: #333;
  outline: none;
  height: auto;
  margin: 10px;
}

.CodeMirror-cursor {
  color: #f00;
  background-color: #777;
  width: 10px;
}

.gutter {
  width: 15px;
  background-color: #444;
}

.node {
  outline: none;
  /*display: block;*/
  display: inline-block;
}

#app, #rules, #log, #slides, #repl {
display: inline-block;
  /*
  margin: 0 auto;
   * */
  white-space: pre-wrap;
  padding: 3px;
  outline: none;

  width: 40vw;
  font-family: "Roboto Mono", monospace;
  font-size: 14pt;
  background-color: transparent;
  outline: none;
  overflow-y: auto;
  vertical-align: top;
  /*height: 650px;*/
}

#slides {
  width: 65%;
  height: 100%;

  border: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 7px;
  top: 0px;
  bottom: 0px;
}

.color-box {
  min-width: 30px;
  min-height: 30px;
  background-color: #d48;
  position: fixed;
  top: 80px;
  right: 200px;
  text-align: center;
  vertical-align: middle;
  display: table;
  font-size: 18pt;
}

#repl {
  width: 30%;
  height: 99%;
  font-size: 10pt;
  display: inline-block;
  overflow: hidden;
  /*overflow: auto;*/
}

#repl-log {
  overflow-y: auto;
  height: 80%;
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

#app {
  width: 20vw;
}

#rules {
  width: 40vw;
}

.pane {
  padding:22px;
}

#log {
  display: inline-block;
  overflow-x: visible;
  overflow-y: auto;
  height: 100%;
  width: 99%;
}

::-webkit-scrollbar {
    background: #222;
}
::-webkit-scrollbar-thumb {
    background: #666;
}


.rule {
  display: inline-block;
  border: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 7px;
  margin: 4px;
  padding: 1px;
  outline: none;
}

.button, .prov, .extern, .inline, .block, .rule_node {
  display: inline-block;
  border: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 7px;
  margin: 4px;
  padding: 4px;
  outline: none;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
}

.prov, .block {
  font-size: 12pt;
  display: block;
}

.extern {
  color: #d38;
}

.rule_node {
  color: #8d3;
}

.query, .assert, .sep {
  border: none;
  border-radius: 7px;
  padding: 1px;
  margin: 0px;
  color: #eee;
  outline: none;
}

.sep {
  color: #d38;
  outline: none;
}

.var, .literal, .label, .expr {
  border-radius: 7px;
  display: inline-block;
  margin: 3px;
  white-space: pre;
  outline: none;
}

.label {
  color: #aaa;
  outline: none;
}

.expr {
  border: solid;
  border-width: 1px;
  border-color: #999;
}

/* TODO */
svg {
  width: 600px;
  height: 600px;
  display: block;
  /*margin: 0 auto;*/
  outline: none;
}

rect {
  outline: none;
}

.editor {
  border: solid;
  border-width: 1px;
  border-color: #e6a;
  border-radius: 8px;
  color: #666;
}

/*

.box {
  padding: 2px;
}
.box > .box:hover {
  background-color: #666;
}

.td {
  min-width:22px;
  min-height:22px;
}

*/
